.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    text-align: center;
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}

.p-fieldset-legend{
    padding: 0.5rem 1rem;
    background-color: grey;
}

.p-fieldset {
    width: 350px;
    margin-inline: 40px;
    margin-bottom: 20px;
  }
